body{
  background-color:#0f131a;
  font-size:18px;
}
@media screen and (min-width:768px) and (min-height:0px){
	.main_content {
	  height:460px !important;
	}
	.grad_l {
	  height:460px !important;
	}
}
@media screen and (min-width:768px) and (min-height:568px){
	.main_content {
	  height:488px !important;
	}
	.grad_l {
	  height:488px !important;
	}
}
@media screen and (min-width:768px) and (min-height:680px){
	.main_content {
	  height:600px !important;
	}
	.grad_l {
	  height:600px !important;
	}
}
@media screen and (min-width:768px) and (min-height:780px){
	.main_content {
	  height:700px !important;
	}
	.grad_l {
	  height:700px !important;
	}
}
@media screen and (min-width:768px) and (min-height:880px){
	.main_content {
	  height:800px !important;
	}
	.grad_l {
	  height:800px !important;
	}
}
@media screen and (min-width:768px) and (min-height:1000px){
	.main_content {
	  height:920px !important;
	}
	.grad_l {
	  height:920px !important;
	}
}
@media screen and (min-width:768px) and (min-height:1480px){
	.main_content {
	  height:1400px !important;
	}
	.grad_l {
	  height:1400px !important;
	}
}
@media screen and (min-width:768px) and (min-height:1780px){
	.main_content {
	  height:1700px !important;
	}
	.grad_l {
	  height:1700px !important;
	}
}
@media screen and (min-width:768px) and (min-height:2104px){
	.main_content {
	  height:2024px !important;
	}
	.grad_l {
	  height:2024px !important;
	}
}
@media screen and (min-width:768px) and (min-height:2680px){
	.main_content {
	  height:2600px !important;
	}
	.grad_l {
	  height:2600px !important;
	}
}
@media screen and (min-width:768px) and (min-height:3080px){
	.main_content {
	  height:3000px !important;
	}
	.grad_l {
	  height:3000px !important;
	}
}
@media screen and (min-width:768px) and (min-height:3680px){
	.main_content {
	  height:3600px !important;
	}
	.grad_l {
	  height:3600px !important;
	}
}
@media screen and (min-width:768px) and (min-height:4408px){
	.main_content {
	  height:4328px !important;
	}
	.grad_l {
	  height:4328px !important;
	}
}
@media screen and (min-width:768px){
	.wrapper {
	  width:100%;
	  height:100%;
	  padding-left:10px;
	  padding-right:15px;
	  margin-top:60px;
	  margin-left:0px;
	}
	.modal-dialog {
	  width:50% !important;
	}
	.tag_search {
	  margin-bottom:0px;
	  margin-top:4px;
	  padding-right:17px;	
	  position:absolute;
	  right:0px;
	  top:0px;
	  z-index:10;
	}
	.tag_input {
	  width:200px;
	}
	#tag_dropdown {
	  box-shadow:0 0 10px -2px #9ecaed;
	  border-color:#9acaed;
	  width:200px;
	  margin-top:-3px;
	  border-top:none;
	  border-top-right-radius:0px;
	  border-top-left-radius:0px; 
	}
	.navbar {
	  position:fixed;
	  box-shadow: 0px 2px 5px #0f131a;
	  top:0;
	  z-index:100;
	  width:100%;
	  margin-bottom:0px;
	  color:#fff;
	  border-radius:0px;
	  background-color: #021b44;
	  min-height:40px;
	  height:40px;
	}
	.navbar-brand {
	  padding-top:10px;
	  padding-right:10px;
	  padding-bottom:10px;
	}
	.navbar-collapse.collapse {
	  margin-left:73px;
	  padding-left:0px;
	  padding-right:0px;
	}
	.navbar-nav.nav {
	  position:absolute;
	  left:0px;
	  top:0px;
	  overflow:hidden !important;
	  padding-right:233px;
	  height:40px;
	}
	.content_right
	{
	  background-image: -webkit-gradient(linear, left, right, from(#F2F2F2), to(transparent)); /* Saf4+, Chrome */
	  background-image: -webkit-linear-gradient(left, #F2F2F2, transparent); /* Chrome 10+, Saf5.1+, iOS 5+ */
	  background-image:    -moz-linear-gradient(left, #F2F2F2, transparent); /* FF3.6 */
	  background-image:     -ms-linear-gradient(left, #F2F2F2, transparent); /* IE10 */
	  background-image:      -o-linear-gradient(left, #F2F2F2, transparent); /* Opera 11.10+ */
	  position:absolute;
	  width:10px;
	  right:0px;
	  top:0px;
	  z-index:2;
	}
	.content_left
	{
	  background-image: -webkit-gradient(linear, right, left, from(#F2F2F2), to(transparent)); /* Saf4+, Chrome */
	  background-image: -webkit-linear-gradient(right, #F2F2F2, transparent); /* Chrome 10+, Saf5.1+, iOS 5+ */
	  background-image:    -moz-linear-gradient(right, #F2F2F2, transparent); /* FF3.6 */
	  background-image:     -ms-linear-gradient(right, #F2F2F2, transparent); /* IE10 */
	  background-image:      -o-linear-gradient(right, #F2F2F2, transparent); /* Opera 11.10+ */
	  position:absolute;
	  width:10px;
	  left:0px;
	  top:0px;
	  z-index:2;
	}
	.grad_r_0 {
	  height:65px;
	}
	.grad_r_1 {
	  height:260px;
	}
	.grad_r_2 {
	  height:300px;
	}
	.main_content {
	  margin-left:10px !important;
	  margin-right:10px !important;
	}
	.side_content_r {
	  margin-right:10px !important;
	  margin-left:10px !important;
	}
	#main {
	  padding-right:10px !important;
	}
	#side {
	  padding-left:5px !important;
	}
}
@media screen and (max-width:767px){
	.wrapper {
	  width:100%;
	  height:100%;
	  margin-top:60px;
	  margin-left:0px;
	}
	.row {
	  margin-right:0px;
	}
	#main, #side, #members_box {
	  padding-right:0px;
	}
	.navbar {
	  box-shadow: 0px 2px 5px #0f131a;
	  top:0;
	  z-index:100;
	  width:100%;
	  margin-bottom:-40px;
	  color:#fff;
	  border-radius:0px;
	  background-color: #021b44;
	  min-height:40px;
	}
	.tag_search {
	  margin-left:-20px !important;
	  margin-right:0px !important;	
	}
	#tag_dropdown {
	  box-shadow:0 0 10px -2px #9ecaed;
	  border-color:#9acaed;
	  width:100%;
	  margin-top:-3px;
	  border-top:none;
	  border-top-right-radius:0px;
	  border-top-left-radius:0px; 
	}
	.navbar .nav {
	  margin-bottom:0px;
	  margin-top:0px;
	}
	.navbar-header {
	  transition:background-color .5s;
	  -webkit-transition:background-color .5s;
	}
	.navbar-header:hover {
  	  background-color: #032865;
	  cursor:pointer;
	}
	.navbar-header:hover .navbar-brand { 
  	  background-color: #032865;
	}
	.navbar-collapse {
	  max-height:600px;
	}
	.navbar-collapse.in {
	  overflow-y:hidden !important;
	}
	.main_content {
	  height:460px !important;
	  margin-bottom:20px !important;
	}
}
.btn-primary {
  background-color:#075de9;
  transition:background-color .5s;
  -webkit-transition:background-color .5s;
}
.btn-primary:hover {
  background-color:#0549b7;
}
.btn-success {
  transition:background-color .5s;
  -webkit-transition:background-color .5s;
}
.tag_input {
  height:30px;
}
.navbar-toggle {
  background-color:#0f131a;
}
.icon-bar {
  background-color:#aaa;
}
.navbar-toggle:hover .icon-bar {
  background-color:#eee;
}
.navbar-brand {
  color:#fff;
  background-color: #021b44;
  transition:background-color .5s;
  -webkit-transition:background-color .5s;
}
.navbar-brand:hover {
  color:#fff;
  background-color: #043586;
}
.navbar .nav>li>a {
  color:#fff;
  background-color: #021b44;
  transition:background-color .5s;
  -webkit-transition:background-color .5s;
}
.navbar .nav>li>a:hover {
  color:#fff;
  background-color: #043586;
}
.navbar-nav>li>a {
  padding-top:10px;
  padding-bottom:10px;
  padding-right:10px !important;
  padding-left:10px !important;
}
.top_5 {
  margin-top:5px;
}
.top_10 {
  margin-top:10px;
}
.pad_l_20 {
  padding-left:20px;
}
.tool_box {
  z-index:5;
}
.highlight_red {
  color:red;
}
.highlighted_bright {
  color:#075de9;
}
.highlighted_dark {
  color:#0549b7;
}
#curr_details {
  word-break:break-all;
}
.edit_details {
  transition:background-color .5s;
  -webkit-transition:background-color .5s;
  cursor:pointer;
  height:87%;
  width:100%;
}
.edit_details:hover {
  background-color:#ccc;
}
#show_members {
  margin-top:-5px;
  transition:color .5s;
  -webkit-transition:color .5s;
}
#show_members:hover {
  cursor:pointer;
  color:#075de9;
}
#stop_scroll {
  margin-left:20px;
  transition:color .5s;
  -webkit-transition:color .5s;
}
#stop_scroll:hover {
  cursor:pointer;
  color:red;
}
#pause_chat {
  margin-left:20px;
}
.pause {
  transition:color .5s;
  -webkit-transition:color .5s;
}
.pause:hover {
  cursor:pointer;
  color:#E8DA00;
}
.play {
  transition:color .5s;
  -webkit-transition:color .5s;
}
.play:hover {
  cursor:pointer;
  color:#3FE81F;
}
.chat_paused {
  background-color:black;
  width:200px;
  opacity:.9;
  position:absolute;
  top:20px;
  left:50%;
  margin-left:-100px;
  color:white;
  border-radius:10px;
  text-align:center; 
  display:none;
}
#mod_user {
  margin-left:20px;
  transition:color .5s;
  -webkit-transition:color .5s;
}
#mod_user:hover {
  cursor:pointer;
  color:#461394;
}
#warn_user {
  margin-left:20px;
  transition:color .5s;
  -webkit-transition:color .5s;
}
#warn_user:hover {
  cursor:pointer;
  color:#E88729;
}
#kick_user{
  margin-left:20px;
  transition:color .5s;
  -webkit-transition:color .5s;
}
#kick_user:hover {
  cursor:pointer;
  color:red;
}
#members_box {
  z-index:100;
  background-color:black;
  opacity:.9;
  width:200px;
  height:280px;
  border-radius:5px;
  border-top-left-radius:0px;
  display:none; 
  overflow:auto;
  text-align:left;
}
#members_list {
  padding:10px;
}
.box_r_0 {
  height:65px !important;
  text-align:center !important;
  overflow:visible !important;
}
.box_r_1 {
  height:260px !important;
}
.box_r_2 {
  height:300px !important;
  font-size:14px;
}
.box_l {
  height:600px !important;
}
.container{
  width:auto;
  margin:20px;
}
.small_content_box {
  position:relative;
  margin:0px auto;
  margin-bottom:20px;
}
.medium_content_box {
  position:relative;
  margin:0px auto;
}
.big_content_box {
  position:relative;
  margin:0px auto;
}
.content {
  padding:20px;
  position:relative;
  background-color:#fff;
  margin:0px auto;
  text-align:left;
  height:auto;
  overflow:auto;
}
.chat_content {
  position:relative;
}
.chat_main {
  height:100% !important;
  float:left;
  width:100%;
  background-color:#bbb;
  position:relative; 
}
#members_box ::-webkit-scrollbar-track
{
  background-color: transparent;
}
#members_box ::-webkit-scrollbar
{
  width: 8px;
  height:8px;
}
#members_box ::-webkit-scrollbar-thumb
{
  background-color: #888;
  border-radius:10px;
  opacity:.5;
}
.frame_cont {
  height:76%;
  position:relative;
  width:100%;
  overflow:auto; 
}
.frame_cont ::-webkit-scrollbar-track
{
  background-color: transparent;
}
.frame_cont ::-webkit-scrollbar
{
  width: 8px;
  height:8px;
}
.frame_cont ::-webkit-scrollbar-thumb
{
  background-color: #333;
  border-radius:10px;
  opacity:.5;
}
.go_back {
  position:absolute;
  top:0px;
  right:0px;
  background-color:black;
  color:white;
  z-index:10;
  padding:5px;
  opacity:.6; 
  display:none;
  cursor:pointer;
}
.go_back:hover {
  color:#08c;
}
.btn_btm_r {
  position:absolute;
  bottom:20px;
  right:20px; 
}
.btn_btm_l {
  position:absolute;
  bottom:20px;
  left:20px;
}
.chat_id {
  margin-top:-10px;
  font-size:16px;
  font-weight:bold; 
}
.response_count {
  color:black;
}
.mssg_icon, .resp_icon {
  font-size:12px;
  transition:color .8s;
  -webkit-transition:color .8s;
}
.mssg_icon:hover, .resp_icon:hover {
  color:red;
}
.time {
  float:right;
  color:#777;
  margin-bottom:-5px;
  margin-top:-5px;
  font-size:12px;
}
#chat_display {
  position:relative;
}
.chat_mssg {
  background-color:#fff;
  padding:10px;
  box-shadow:2px 2px 2px #999;
  margin-bottom:10px;
  display:table;
  cursor:pointer;
  font-size:14px;
  transition:background-color .5s;
  -webkit-transition:background-color .5s;
}
.chat_resp {
  background-color:#fff;
  padding:10px;
  box-shadow:2px 2px 2px #999;
  margin-bottom:10px;
  display:table;
  cursor:pointer;
  font-size:14px;
  transition:background-color .5s;
  -webkit-transition:background-color .5s;
}
.chat_mssg:hover {
  background-color:#eee;
}
.chat_resp:hover {
  background-color:#eee;
}
.chat_title {
  padding:10px 5px;
  font-size:14px;
  border-bottom:1px solid #ddd; 
}
.content1 {
  margin: 20px;
}
.medium_width{
  margin-left:20px;
  margin-top:5px;
  padding-left:10px;
  white-space:normal;
  word-break:break-all;
  display:inline-block;
  vertical-align:top;
  width:140px;
}
.large_width{
  margin-left:20px;
  margin-top:5px;
  padding-left:10px;
  white-space:normal;
  word-break:break-all;
  display:inline-block;
  vertical-align:top;
  width:220px;
}
.frame {
  border-radius:5px;
  border-color: rgb(238,238,238);
  border-style: inset;
  border-width: 2px;
  height: 300px;
  padding: 10px;
  position:relative;
  overflow:auto;
}
textarea {
  width:100%;
  resize:none;
  border-radius:5px;
  margin-bottom:0px;
  padding:10px;
  margin-top:5px;
  font-size:16px;
  border-bottom-color: rgb(238,238,238);
  border-bottom-style: inset;
  border-bottom-width: 2px;
  border-right-color: rgb(238,238,238);
  border-right-style: inset;
  border-right-width: 2px;
  border-top-color: rgb(238,238,238);
  border-top-style: inset;
  border-top-width: 2px;
  border-left-color: rgb(238,238,238);
  border-left-style: inset;
  border-left-width: 2px;
}
