{% extends 'info_header.twig' %}

{% block content %}
<form method="post" action="{{site}}/feedback/newfeedback" class="mutual_form" id="feedback_form">
<fieldset>
	<legend>Give us your feedback</legend>
	<div id="type_group" class="form-group">
		<select class="form-control" data-toggle="tooltip" data-placement="left" data-original-title="Please select a feedback type" data-trigger="focus" data-container="body" id="Type" name="type">
			<option value="">Select the Category of Feedback: </option>
			<option value="chat">Chat System </option>
			<option value="profile">Profiles </option>
			<option value="groups">Groups </option>
			<option value="design">Site Design </option>
			<option value="other">Other </option>
		</select>
	</div>
	<div id="text_group" class="form-group">
		<textarea class="form-control" data-toggle="tooltip" data-placement="left" data-original-title="Please enter feedback longer than 20 characters" data-trigger="focus" data-container="body" id="Text" name="text" rows="5" style="resize:none;"></textarea>
	</div>
	<button class="btn btn-primary" type="Submit" style="width:100%;">Submit Feedback</button>
</fieldset>
</form>
{% endblock %}
