{% extends 'info_header.twig' %}

{% block content %}
<div style="margin-top:-20px;">
<h1>Coming Soon</h1>
<ul>
	<h2>Tags/Upvotes</h2>
	<li>A working trending tag system</li>
	<li>Upvotes for chat comments</li>
	<li>A more intelligent upvote system that displays better content</li>
	<li>Hot/Rising/New sections for posts</li>

	<h2>Profiles</h2>
	<li>Profiles so you can keep track of your posts</li>
	<li>A system where upvotes give you "cognizance"</li>
	<li>A leveling system for profiles</li>
	<li>The ability to add friends and create profile information</li>
	<li>The ability to rate other profiles anonymously</li>

	<h2>Groups</h2>
	<li>The ability to create and be a part of groups</li>
	<li>Group hosted chats</li>
	<li>Group tags</li>
	<li>Private group chats</li>

	<h2>Chats</h2>
	<li>Private, AMA, and group hosted chats</li>
	<li>The ability to use emoticons, bold/underlined/italic font, other chat functions</li>
	<li>The ability to post images in chat</li>
</ul>
</div>
{% endblock %}
